# Project #1: Convert \*C to \*F

The objective is to predict the value of one variable Y based on another variable X.

Basically we are trying to predict what the equation would be between \*C and \*F Using given data.

This is called *Regression*.

## Step 0: Import Libraries

In [1]:
!pip install seaborn

Requirement already satisfied: seaborn in /home/aditya/miniconda3/lib/python3.8/site-packages (0.11.2)
Requirement already satisfied: pandas>=0.23 in /home/aditya/miniconda3/lib/python3.8/site-packages (from seaborn) (1.4.1)
Requirement already satisfied: numpy>=1.15 in /home/aditya/miniconda3/lib/python3.8/site-packages (from seaborn) (1.19.5)
Requirement already satisfied: matplotlib>=2.2 in /home/aditya/miniconda3/lib/python3.8/site-packages (from seaborn) (3.5.1)
Requirement already satisfied: scipy>=1.0 in /home/aditya/miniconda3/lib/python3.8/site-packages (from seaborn) (1.8.0)
Requirement already satisfied: packaging>=20.0 in /home/aditya/miniconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in /home/aditya/miniconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /home/aditya/miniconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (4.29.1)
Requirement already satisfied: pillow>=6.2.0 in /home/aditya/miniconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (9.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/aditya/miniconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: pyparsing>=2.2.1 in /home/aditya/miniconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (3.0.7)
Requirement already satisfied: cycler>=0.10 in /home/aditya/miniconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pytz>=2020.1 in /home/aditya/miniconda3/lib/python3.8/site-packages (from pandas>=0.23->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in /home/aditya/miniconda3/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)

In [2]:
import tensorflow as tf
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

2022-02-24 15:20:04.200960: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.11.0

In [3]:
tf.config.list_physical_devices()

2022-02-24 15:20:06.003169: I tensorflow/compiler/jit/xla_cpu_device.cc:41] Not creating XLA devices, tf_xla_enable_xla_devices not set

[PhysicalDevice(name='/physical_device:CPU:0', device_type='CPU'),
 PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

2022-02-24 15:20:06.005232: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcuda.so.1
2022-02-24 15:20:07.644931: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-02-24 15:20:07.645160: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1720] Found device 0 with properties:
pciBusID: 0000:01:00.0 name: NVIDIA GeForce GTX 1650 computeCapability: 7.5
coreClock: 1.56GHz coreCount: 16 deviceMemorySize: 3.82GiB deviceMemoryBandwidth: 119.24GiB/s
2022-02-24 15:20:07.645175: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.11.0
2022-02-24 15:20:07.646698: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublas.so.11
2022-02-24 15:20:07.646736: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublasLt.so.11
2022-02-24 15:20:07.647351: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcufft.so.10
2022-02-24 15:20:07.647499: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcurand.so.10
2022-02-24 15:20:07.649078: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcusolver.so.10
2022-02-24 15:20:07.649444: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcusparse.so.11
2022-02-24 15:20:07.649530: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudnn.so.8
2022-02-24 15:20:07.649607: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-02-24 15:20:07.649875: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-02-24 15:20:07.650067: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1862] Adding visible gpu devices: 0

## Step 1: Import the dataset

In [4]:
temp_df = pd.read_csv('Celsius+to+Fahrenheit.csv')

In [5]:
temp_df.head(5)

   Celsius  Fahrenheit
0      -50       -58.0
1      -40       -40.0
2      -30       -22.0
3      -20        -4.0
4      -10        14.0

In [6]:
temp_df.tail(5)

    Celsius  Fahrenheit
25       20        68.0
26       30        86.0
27       40       104.0
28       50       122.0
29       60       140.0